.landing-container {
  height: 100vh;
  .landing {
    background-image: url("./../../utils/images/background-landing.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .MuiFormControl-root {
      width: 500px;
    }
  }
}
