.navbar {
  height: auto;
  background-color: #00acee;
  .input-search {
    border: 50% solid black;
    border-radius: 15px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .menu-item {
    cursor: pointer;
  }
}

.profile-container {
  margin: 50px 0;
}
