.navbar {
  height: auto;
  background-color: #00acee;
  .input-search {
    border: 50% solid black;
    border-radius: 15px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .logo {
    height: 50px;
  }

  .menu-item {
    cursor: pointer;
  }
}

.profile-container {
  // margin: 0 5vw;

  .profile-image {
    position: relative;
    // height: 30vh;
    width: 20vw;
    margin-bottom: 30px;
    .img-sampul {
      width: 100%;
      height: 18vh;
      object-fit: cover;
      object-position: 0 10%;
      // position: relative;
    }
    .img-profile {
      width: 30%;
      // height: 20%;
      position: absolute;
      bottom: -34px;
      left: 36%;

      border-radius: 50%;
    }
  }
}
